body{
    background:url(../tower.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-bottom: 65px;
}
.highlight{
    font-weight: 700;
    color: rgb(163, 40, 212);
}
.contain{
    display: flex;
    justify-content:space-evenly;
    width: 95%;
    margin-top: 20px;
}
.menuContainer{
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.menuItem{
    background-color: white;
    width: 280px;
    height: 270px;
    margin: 20px 18px;
    border-radius: 10px;
}
.para{
    line-height: 1.4;
    margin: 20px 20px;
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
h6{
    margin: 3px 24px;
    text-align: left;
}
.query{
    text-align: left;
    padding: 20px 20px;
	background-color: white;
	margin-top: 20px;
}
.status{
    font-size: 30px;
    color: green;
}

@media screen and (max-width:680px){
    .contain{
        flex-direction: column;
    }

    .menuContainer{
        flex-direction: column;
        width: 100%;
    }
    .menuItem{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    
}